.coffeFirst {
  background-image: url('./images/coffee-2589759_640.jpg');
  background-position: center;
  background-size: cover;
}

.coffeSecond {
  background-image: url('./images/green_tea___1_.webp');
  background-position: center;
  background-size: cover;
}
.teaFirst {
  background-image: url('./images/4.pouring-black-tea-into-transparent-cup-isolated.jpg');
  background-position: center;
  background-size: cover;
}
.teaSecond {
  background-image: url('./images/mockup-graphics-DJyffTDrXQI-unsplash.jpg');
  background-position: center;
  background-size: cover;
}

.rectangleImage-first {
  background-image: url('./images/italian-berry-mascarpone-cake-193616-2.jpg');
  background-position: center;
  background-size: cover;
}

.rectangleImage-second {
  background-image: url('./images/1.pexels-photo-1493080.jpeg');
  background-position: center;
  background-size: cover;
}

.rectangleImage-third {
  background-image: url('./images/nathan-dumlao-ikU3J1nr52w-unsplash.jpg');
  background-position: center;
  background-size: cover;
}

.rectangleImage-fourth {
  background-image: url('./images/nousnou-iwasaki-myPzH34VYK4-unsplash.jpg');
  background-position: center;
  background-size: cover;
}

.cakeImage-first {
  background-image: url('./images/kaouther-djouada-hcEDfkiVmMI-unsplash.jpg');
  background-position: center;
  background-size: cover;
}

.cakeImage-second {
  background-image: url('./images/annie-spratt-6SHd7Q-l1UQ-unsplash.jpg');
  background-position: center;
  background-size: cover;
}

.cakeImage-third {
  background-image: url('./images/deva-williamson-YpIKbBZtSWY-unsplash.jpg');
  background-position: center;
  background-size: cover;
}

.cakeImage-fourth {
  background-image: url('./images/ohtilly-9sKcBBMII6Q-unsplash.jpg');
  background-position: center;
  background-size: cover;
}

.cakeImage-fifth {
  background-image: url('./images/amirali-mirhashemian-z1W2v1JWbKU-unsplash.jpg');
  background-position: center;
  background-size: cover;
}
